

.raffle-page {
    width: 80%;
    height: 200px;
    background-color: yellow;
}

.raffle-person {
    display: inline-block;
    padding: 0px 20px;
    background-color: red;
}


.scroll-area {
    height: 100px;
    margin-bottom:50px;
    border:1px solid black;
}
